<h1> Welcome <%= @user.name %> </h1>

<h2>
  Join a class list:
  <% @tickers.each do |ticker| %>
  <p>
    <a href='/choose_ticker/<%= ticker.name %>'><%= ticker.name %></a>
  </p>
  <% end %>
</h2>

<a href='/logout'>Logout</a>
