<h1> Now Serving: </h1>

<p>
<%  current = 1
    @ticker.users.all.each do |user| %>
<%=   current + @user.name %>
<%  end %>
</p>

<h2>
<a href='/'>Go Back</a>
</h2>

<h3>
<a href='/logout'>Logout</a>
</h3>
