<h1>Welcome <%= @user.name %></h1>

<h2>
  Start a new WebTicker:
<form action='/new_ticker' method='POST'>
  <input type='text' name='name' placeholder='name'/>
  <button type='submit'>submit</button>
</form>
</h2>

<h3>
  Current Classes:
  <% @tickers.each do |ticker| %>
    <p>
      <a href='/choose_ticker/<%= ticker.name %>'><%= ticker.name %></a>
    </p>
  <% end %>
</h3>

<a href='/logout'>Logout</a>
