<h1> Now Serving: </h1>

<p>
<% @list.each do |student|%>
<%= student %> <a href='/delete_list_item'>Clear</a>
<% end %>
</p>

<h2>
  <a href='/'>Back to main page</a>
</h2>

<h3>
  <a href='/logout'>Logout</a>
</h3>
