<h1>Welcome <%= @user.name %></h1>

<h2>
  Start a new WebTicker:
<form action='/new_ticker' method='POST'>
  <input type='text' name='name' placeholder='name'/>
  <button type='submit'>submit</button>
</form>
</h2>

<h3>
  Go to:
  <form action='/choose_ticker' method='POST'>
    <select name='Choose a WebTicker'>
      <% @user.tickers each do |list| %>
      <option value="<%= list.name %>"> </option>
      <% end %>
    </select>
    <button type='submit'>submit</button>
  </form>
</h3>

<a href='/logout'>Logout</a>
