<select name='Choose a class'>
  <% Student.lists.each do |list| %>
    <option value="<%= list %>"> </option>
  <% end %>
</select>
<form action='/choose_list' method='POST'>

</form>
<a href='/logout'>Logout</a>
